@import '../../../styles/useSpacing';

.link {
	color: #5c7cfa;
	text-decoration: none
}

.submitBtnContainer {
	text-align: center;
}

.button {
    width: 260px;
	@include useSpacing(margin,s,0,s,0);
}

.divider {
	@include useSpacing(margin,m,0,m,0);
}

.otherLoginOptionsContextText {
	display: flex;
	justify-content: center;
	align-items: center;
	@include useSpacing(margin,0,0,m,0);
}

.googleLoginBtnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}