@import '../../styles/useTypography';
@import '../../styles/useSpacing';

.container {
    display: flex;
    justify-content: space-between;
    @include useTypography(commonText);
}

.infosContainer {
    display: flex;
}

.textContainer {
    display: flex;
    align-items: center;
}
