@import '../../../styles/useSpacing';
@import '../../../styles/useTypography';
@import '../../../styles/variables';

.modalTitle {
    text-align: center;
    font-weight: bold;
    @include useSpacing(margin, 0, 0, l, 0);
}

.textInput {
    width: 100%;
}

.titleInput {
    @include useSpacing(margin, 0, 0, m, 0);
}

.noOptionTopicBtnIcon {
    font-size: 1.2rem;
}

.noOptionTopicBtnText {
    font-size: 1rem;
    @include useSpacing(margin, 0 , 0, 0, xxs);
}

.votersSection, .statusSection {
    display: flex;
    @include useSpacing(margin, 0 , 0, s, 0);
}

.submitButton {
    @include useSpacing(margin, s, 0, 0, 0);
}

.divider {
    @include useSpacing(margin, 0 , 0, l, 0);
}

.mainButtonsContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: $main-breakpoint) {
    .modalContentContainer {
        width: 40%;
    }

    .mainButtonsContainer {
        flex-direction: row;
    }

    .submitButton {
        @include useSpacing(margin, l, m, xxxs, 0);
    }
    
}