@import '../../../styles/useSpacing';
@import '../../../styles/useTypography';
@import '../../../styles/variables';

.modalContentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $modal-width-mobile-screen;
    border: 0.5px solid #000;
    border-radius: 8px;
    box-shadow: 24px;
    @include useSpacing(padding, l, xl, xl, xl);
}

.modalTitle {
    text-align: center;
    font-weight: bold;
    @include useSpacing(margin, 0, 0, l, 0);
}

.middle {
    display: flex;
}

.mainContentMiddleContainer {
    width: 80%;
}

.rightNavbar {
    width: 28%;
    @include useSpacing(margin, 0, 0, 0, xxl);
}

.integrationChip {
    display: flex;
    align-items: center;
    @include useSpacing(margin, s, 0);
    cursor: pointer;
    @include useSpacing(padding, xs);
    @include useTypography(title-s);
}

.integrationChipText {
    @include useSpacing(margin, 0, 0, 0, m);
}

.rightNavbarTitle {
    display: flex;
    @include useTypography(legals);
    @include useSpacing(margin, 0, 0, xs, 0);
    font-weight:550;
}

.textInput {
    width: 100%;
}

.titleInput {
    @include useSpacing(margin, 0, 0, m, 0);
}

.votersSection, .statusSection {
    display: flex;
    @include useSpacing(margin, 0 , 0, s, 0);
}

.votersSectionTitle, .statusSectionTitle {
    display: flex;
    align-items: center;
    @include useSpacing(margin, 0 , s, 0, 0);
}

.submitButton {
    @include useSpacing(margin, l, m, xxxs, 0);
}

.divider {
    @include useSpacing(margin, 0 , 0, l, 0);
}

.mainButtonsContainer {
    display: flex;
}

@media screen and (min-width: $main-breakpoint) {
    .modalContentContainer {
        width: $modal-width-computer-screen;
    }
}