@import '../../../styles/useSpacing';

/* .modalContentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 0.5px solid #000;
    border-radius: 8px;
    box-shadow: 24px;
    @include useSpacing(padding, m, xxl);
} */

.boardIdentityInput {
    display: flex;
    justify-content: space-between;
}

 .penIcon {
    cursor: pointer;

} 

.sectionTitle {
    font-size: 14px;
    @include useSpacing(margin,l,0,s,0);
}

.billingBtnsContainer {
    @include useSpacing(margin,m,0);
}

@media screen and (min-width: $main-breakpoint) {
    .modalContentContainer {
        width: 50%;
    }
}