@import "../../styles/useSpacing";
@import "../../styles/useTypography";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include useSpacing(padding, xxxl, l, l, l);
  @include useSpacing(margin, xxs, l, l, l);

  .image {
    width: 25%;
    filter: $c-filtergrey;
  }

  .title {
    @include useSpacing(margin, xs, 0, xxs, 0);
    font-family: 'Roboto', sans-serif; // Apply the new font
    font-size: 19px; // Adjust the font size as needed
    font-weight: 700; // Set the font weight (bold in this case)
  }

  .details {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    @include useSpacing(margin, 0, 0, l, 0);
  }
}

@media screen and (min-width: $main-breakpoint) {
  .title {
    font-size: 25px;
  }
}