@import "../../styles/useSpacing";
@import "../../styles/useTypography";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include useSpacing(padding, xxl, l, l, l);
  filter: $c-filtergrey;
}

.image {
  width: 25%;
}

.title {
  @include useSpacing(margin, xs, 0, xxs, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.details {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  @include useSpacing(margin, 0, 0, l, 0);
}

@media screen and (min-width: $main-breakpoint) {
  .title {
    font-size: 25px;
  }
}