@import "../../styles/useSpacing";

.emptyDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  @include useSpacing(padding, xl, 0, 0, 0);
}

.sectionContainer {
  display: flex;
  justify-content: center;
  height: 50%;
  position: relative;
}

.sectionContainerWithNavBar {
  @include useSpacing(margin, 0, 0, 0, l);
}

.sidebarContainer {
  position: absolute;
  left: 1%;
  top: 1%;
  display: none;
}

.featuresSectionContainer {
  width: 100%;
}

.featuresSectionContainerEmpty {
  justify-content: center;
}

.listItemButton {
  color: #8f9399;
  font-size: 14px;
}

.listItem {
  font-size: 14px;
}

.featuresSectionContainer {
  display: flex;
  flex-direction: column;
  @include useSpacing(margin, l, 0);
}

.filtersTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  @include useSpacing(margin, 0, 0, 0, s);
}

@media screen and (min-width: $main-breakpoint) {
  .sidebarContainer {
    display: flex;
  }

  .featuresContainer {
    @include useSpacing(padding, 0, xxxl);
  }
}