@import "../../styles/useSpacing";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  position: relative;
}

 .emptyContainer {
  justify-content: center;
}

.filterSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include useSpacing(margin, xs, 0, 0, 0);
}

.filterIconBtn {
  @include useSpacing(padding, m);
}

.filterIconText {
  @include useSpacing(margin, 0, 0, 0, s);
}

.sectionContainerWithNavBar {
  @include useSpacing(margin, 0, 0, 0, l);
}

.listItemButton {
  color: #8f9399;
  font-size: 14px;
}

.listItem {
  font-size: 14px;
}

.filtersTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  @include useSpacing(margin, 0, 0, 0, s);
}

.featuresContainer {
  @include useSpacing(padding, 0, l);
}


@media screen and (min-width: $main-breakpoint) {
  .featuresSectionContainer {
    width: 65%;
  }

  .featuresContainer {
    @include useSpacing(padding, 0);
  }


.filterSectionContainer {
  justify-content: flex-start;
}

  .filterIconBtn {
   @include useSpacing(margin, 0, s, 0, 0);
  }
}

.newBtnContainer {
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}