@import '../../styles/useSpacing';

.container {
    flex: 0 0 10%;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.drawerContent {
    width: 250px;
    padding: 20px;
     /* Replace with your desired background color */
  }

.navBtn {
    color: #333;
}

.darkModeBtnContainer {
    @include useSpacing(margin, 0, l);
}

.logInBtn {
    @include useSpacing(margin, s);
    cursor: pointer;
}

@media screen and (min-width: $main-breakpoint) {
}