@import "../../styles/useSpacing";

.colorPaletteBoxContainer {
  display: flex;
  flex-wrap: wrap
}

.colorPaletteBox {
  @include useSpacing(margin, xs, s);
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $main-breakpoint) {
  .colorPaletteBoxContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
