@import '../../styles/useSpacing';
@import '../../styles/useTypography';

.container {
    @include useSpacing(margin, 0, xs, xs, xs);
    height: 160px;
    cursor: pointer;
    border-radius: 10px;
}

.cardContent {
    height: 100%;
    box-sizing: border-box;
}

.topContentRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
}

.topContent {
    display: flex;
    align-items: center;
}

.dotIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureType {
    @include useSpacing(margin, 0, 0, 0, xxs);
    @include useTypography(subContextText);
    color: #7B7B7B;
}

.title {
    font-weight: bold;
    height: 15%;
    display: flex;
    align-items: center;
    @include useSpacing(padding, m, 0, 0, 0);
    box-sizing: border-box;
}

.detailsContainer {
    @include useSpacing(padding, m, 0);
    @include useTypography(commonText);
    height: 45%;
    box-sizing: border-box;
    word-break: break-all;
 }

 .dividerContainer {
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 100%;
}

.bottomContent {
    display: flex;
    justify-content: flex-end;
    height: 20%;
    box-sizing: border-box;
}

.votesCount {
    display: flex;
    justify-content: center;
    align-items: center;
}
