@import '../../styles/useSpacing';
@import '../../styles/useTypography';
@import '../../styles/variables';

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.newFeatureRequestsBox {
    width: 85%;
    @include useSpacing(margin, s, 0);
    display: flex;
    justify-content: center;
    //TODO : mettre une variable
    height: 155px;
}

.newFeatureRequestsBox:hover {
    box-shadow: 0 0 2px $c-blue-dark-30pp;
}

.contentBox {
    width: 75%;
    cursor: pointer;
    @include useSpacing(padding, s);
}

.featureRequestTitle {
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0, 0, m, s);
    @include useTypography(title-m);
}

.featureRequestDescription {
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0, 0, 0, s);
    @include useTypography(commonText);
}

.checkButton {
    width: 25%;
}

.votesBox {
    display: flex;
    justify-content: space-around;
    @include useSpacing(padding, s);
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include useSpacing(margin,0, xxs);
}

.voteCountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    @include useSpacing(margin,0, xxs);
}

.tagsContainer {
    @include useSpacing(margin, l, 0);
}

.tag {
    @include useSpacing(margin, 0, xs);
    @include useTypography(legals);
}

@media screen and (min-width: $main-breakpoint) {
    .newFeatureRequestsBox {
        width: 45%;
    }

    .contentBox {
        width: 85%;
    }

    .checkButton {
        width: 15%;
    }
}
