@import '../../styles/useSpacing';
@import '../../styles/useTypography';
@import '../../styles/variables';

.newFeatureRequestsBox {
    @include useSpacing(margin, s, 0);
    display: flex;
    justify-content: center;
    min-height: 155px;
}

.contentBox {
    width: 55%;
    cursor: pointer;
    @include useSpacing(padding, s);

}

.featureRequestTitle {
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0, 0, m, s);
    @include useTypography(title-m);
}

.featureRequestDescription {
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0, 0, 0, s);
    @include useTypography(commonText);
}

.voteCountContainer {
    display: flex;
    align-items: center;
    @include useSpacing(margin,0, m);
    font-size: 1.3rem;
}

.tagsContainer {
    @include useSpacing(margin, l, 0);
}

.tag {
    @include useSpacing(margin, xxs, xs);
    @include useTypography(legals);
}

.likeBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
}

.likeIconAndVoteContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

@media screen and (min-width: $main-breakpoint) {
    .contentBox {
        width: 75%;
    }

    .likeBtnContainer {
        width: 17rem;
    }

    .likeIconAndVoteContainer {
        width: 37%;
    }
}
