
@import '../../styles/useTypography';
@import '../../styles/useSpacing';
@import '../../styles/variables';

.container {
    display: flex;
}

.icon {
    color: $c-black;
    font-size: 20px;
}

.text {
    @include useSpacing(margin, 0, 0, 0, s);
}
