@import '../../styles/useSpacing';
@import '../../styles/variables';

.container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include useSpacing(margin, 0, 0, l, 0);
}

.title {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    @include useSpacing(margin, xxs, xxs, m, xxs );
    height: 15%;
}

.featureContainer {
    overflow: scroll;
    height: 80%;
}

.statusTitle {
    @include useSpacing(margin, 0, 0, 0, l);
}

.featureNumberContainer {
    @include useSpacing(padding, xxs, s);
    @include useSpacing(margin, 0, s, 0, 0);
    border: solid black 0.1px;
}

.featureContainer::-webkit-scrollbar {
    display: none;
}

.paperContainer {
    width: pxToRem(380);
    height: pxToRem(500);
    @include useSpacing(margin, xs, xs, xs, xs)
}

.emptyDataContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}