@import "../../../styles/useSpacing";

.title {
  @include useTypography(title-xl);
  font-weight: 600;
  @include useSpacing(margin, m, 0);
  word-wrap:break-word;
}

.details {
  @include useTypography(body-s);
  @include useSpacing(margin, l, 0);
  word-wrap:break-word;
}
