@import "../../styles/useSpacing";

.inputLabel {
  font-size: 12px;
  @include useSpacing(margin, m, 0, s, 0);
  display: flex;
  justify-content: center;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include useSpacing(margin, m, 0);
}

.submitBtn {
  @include useSpacing(margin, m, 0, 0, 0);
}

@media screen and (min-width: $main-breakpoint) {
  .inputLabel {
    justify-content: flex-start;
  }
}
