/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
/*
 * Return the value for spacing size for small screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for medium screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for large screen
 * Used in useSpacing mixin
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen {
  .buttonContainer {
    margin: 1rem 0.75rem 1rem 0.75rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .buttonContainer {
    margin: 1rem 0.75rem 1rem 0.75rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .buttonContainer {
    margin: 1rem 0.75rem 1rem 0.75rem;
  }
}

.button {
  height: 2.5rem;
}

.btnText {
  font-size: 0.75rem;
}
@media screen and (max-width: 49.9375rem) {
  .btnText {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 40rem) {
  .button {
    padding: 0 2rem 0 2rem;
  }
}
@media screen and (min-width: 40rem) and (min-width: 64.0625rem) {
  .button {
    padding: 0 2.5rem 0 2.5rem;
  }
}
@media screen and (min-width: 40rem) and (min-width: 105.0625rem) {
  .button {
    padding: 0 3rem 0 3rem;
  }
}/*# sourceMappingURL=MenuChoiceNavBar.module.css.map */