@import '../../styles/variables';
@import '../../styles/useSpacing';
@import '../../styles/useTypography';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include useSpacing(margin, m, s);
}

.button {
    height: $medium-button-height;
}

.btnText {
    @include useTypography(title-xs);
}

@media screen and (min-width: $main-breakpoint) {
    .button {
        @include useSpacing(padding, 0, xl);
    }    
}