@import '../../../styles/variables';
@import '../../../styles/useTypography';
@import '../../../styles/useSpacing';

.modalContentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $modal-width-mobile-screen;
    border: 0.5px solid #000;
    border-radius: 8px;
    box-shadow: 24px;
    @include useSpacing(padding, l, xl, xl, xl);
}

.contentContainer {
    display: flex;
}

.sectionTitle {
    font-size: $switch-board-menu-title;
    font-weight: 600;
}

.outlinedInput {
    padding-right: 0px;
    @include useTypography(commonText);
}

.inviteAdminSectionTitle {
    @include useSpacing(margin, 0, 0, s, 0);
}

.shareBoardSectionTitle {
    @include useSpacing(margin, xl, 0, s, 0);
}

.textFieldWithBtnInsideContainer {
    display: flex;
    justify-content: space-between;
}

.urlTextFieldContainer {
    @include useSpacing(margin, s, 0, 0, 0);
}

.CopyToClipboardButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkIsPublicContainer {
    display: flex;
    justify-content: space-between;
    @include useTypography(commonText);
}

.inviteBtn {
    max-height: 100%;
}

.shareWithTheWorldSectionContainer {
    @include useSpacing(margin, m, 0, 0, 0);
}

@media screen and (min-width: $main-breakpoint) {
    .modalContentContainer {
        width: $modal-width-computer-screen;
    }
}
