@import '../../styles/useSpacing';

.container {
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	display: flex;
}

.authformBoxContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E8F0F0;
}

.infoBoxContainer {
	//background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background: linear-gradient(to right bottom, #2980b9, #6dd5fa, #FFFFFF)	;
	animation: gradient 15s ease infinite;
	@include useSpacing(padding,m);
}

.sectionBoxContainer {
	width: 50%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}