@import '../../styles/useSpacing';

.container {
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	display: flex;
}

.authformBoxContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #E8F0F0;
}

.infoBoxContainer {
	display: none;
}

.authformBoxContainer {
	@include useSpacing(padding, l);
}

@media screen and (min-width: $main-breakpoint) {
	.infoBoxContainer {
		display: block;
		background: linear-gradient(to right bottom, #2980b9, #FFFFFF 45%);
		animation: gradient 15s ease infinite;
		@include useSpacing(padding,m, xl);
	}

	.sectionBoxContainer {
		width: 50%;
	}

	.authformBoxContainer {
		@include useSpacing(padding, 0);
	}	
}

