@import '../../styles/variables';
@import '../../styles/useSpacing';

.container {
    height: 35vh;
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    border-radius: 50%;
    background: $white;
    width: 50px;
    height: 50px;
    @include useSpacing(margin, m , m, m, m);
}

.text {
    color: $white;
    width: 60vw;
}

.companyName {
    font-weight: bold;
    text-align: center;
}

.companyDescription {
    @include useSpacing(margin, xs , xs, xs, xs);
    text-align: center;
}

.companyLink {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

.companyLogo {
    @include useSpacing(margin, m , m, m, m);
}