/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
/*
 * Return the value for spacing size for small screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for medium screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for large screen
 * Used in useSpacing mixin
 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
}
@media screen {
  .container {
    padding: 1.5rem 0 1.5rem 0;
  }
}
@media screen and (min-width: 64.0625rem) {
  .container {
    padding: 1.5rem 0 1.5rem 0;
  }
}
@media screen and (min-width: 105.0625rem) {
  .container {
    padding: 1.5rem 0 1.5rem 0;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  border-radius: 50%;
  background: white;
  width: 50px;
  height: 50px;
}
@media screen {
  .imgContainer {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .imgContainer {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .imgContainer {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.text {
  color: white;
  width: 62%;
  max-height: 12.5rem;
  overflow-y: hidden;
}
@media screen {
  .text {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .text {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .text {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.companyName {
  font-weight: bold;
  display: flex;
  justify-content: center;
  line-height: 1.6875rem;
}
@media screen {
  .companyName {
    margin: 0 0 0.5rem 0;
  }
}
@media screen and (min-width: 64.0625rem) {
  .companyName {
    margin: 0 0 0.5rem 0;
  }
}
@media screen and (min-width: 105.0625rem) {
  .companyName {
    margin: 0 0 0.5rem 0;
  }
}
@media screen and (max-width: 49.9375rem) {
  .companyName {
    line-height: 1.6875rem;
  }
}

.companyDescription {
  text-align: center;
  font-size: 0.875rem;
  overflow-y: auto;
}
@media screen and (max-width: 49.9375rem) {
  .companyDescription {
    font-size: 0.875rem;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
}
@media screen {
  .socialLinks {
    margin: 0.5rem 0 0 0;
  }
}
@media screen and (min-width: 64.0625rem) {
  .socialLinks {
    margin: 0.5rem 0 0 0;
  }
}
@media screen and (min-width: 105.0625rem) {
  .socialLinks {
    margin: 0.5rem 0 0 0;
  }
}

.companyLink {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}
@media screen and (max-width: 49.9375rem) {
  .companyLink {
    font-size: 0.75rem;
  }
}
@media screen {
  .companyLink {
    margin: 0.75rem 0 0 0;
  }
}
@media screen and (min-width: 64.0625rem) {
  .companyLink {
    margin: 0.75rem 0 0 0;
  }
}
@media screen and (min-width: 105.0625rem) {
  .companyLink {
    margin: 0.75rem 0 0 0;
  }
}

@media screen {
  .companyLogo {
    margin: 1rem 0 1rem 1rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .companyLogo {
    margin: 1rem 0 1rem 1rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .companyLogo {
    margin: 1rem 0 1rem 1rem;
  }
}

.companyLogoContainer {
  position: relative;
}

.penIconContainer {
  position: absolute;
  bottom: 13%;
  right: 5%;
  z-index: 1;
  cursor: pointer;
}

.socialNetworkIcon {
  color: white;
}
@media screen {
  .socialNetworkIcon {
    margin: 0 0.5rem 0 0;
  }
}
@media screen and (min-width: 64.0625rem) {
  .socialNetworkIcon {
    margin: 0 0.5rem 0 0;
  }
}
@media screen and (min-width: 105.0625rem) {
  .socialNetworkIcon {
    margin: 0 0.5rem 0 0;
  }
}

@media screen and (min-width: 40rem) {
  .contentWrapper {
    display: flex;
    flex-direction: row;
    width: 46%;
  }
}
@media screen and (min-width: 40rem) {
  .text {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 40rem) and (min-width: 64.0625rem) {
  .text {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 40rem) and (min-width: 105.0625rem) {
  .text {
    margin: 0 0 0 1.5rem;
  }
}
@media screen and (min-width: 40rem) {
  .companyName {
    justify-content: flex-start;
  }
  .companyDescription {
    text-align: left;
  }
  .companyLink {
    justify-content: flex-start;
  }
  .socialLinks {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=MainHero.module.css.map */