@import '../../styles/variables';
@import '../../styles/useSpacing';

.container {
    height: 35vh;
    background: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    border-radius: 50%;
    background: $white;
    width: 50px;
    height: 50px;
    @include useSpacing(margin, m , m, m, m);
}

.text {
    color: $white;
    width: 60vw;
    height: 50%;
    @include useSpacing(margin, 0 , 0, 0, l);
    @include useSpacing(padding, m);
    overflow: hidden;
}

.companyName {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0 , 0, xs, 0);
    @include useTypography(title-m);
}

.companyDescription {
    display: flex;
    justify-content: flex-start;
    @include useSpacing(margin, 0 , 0, xs, 0);
    @include useTypography(commonText);
}

.companyLink {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.companyLogo {
    @include useSpacing(margin, m , m, m, m);
}