@import "../../styles/variables";
@import "../../styles/useSpacing";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  @include useSpacing(padding, xl, xxxl);
  @include useSpacing(margin, 0, 0, s, 0);
  width: 90%;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #495057;
  @include useSpacing(padding, m);
  max-height: $max-descrition-height;
  overflow-y: hidden;
}

.companyName {
  font-weight:600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  @include useSpacing(margin, 0, 0, m, 0);
}

.companyDescription {
  text-align: center;
  @include useTypography(commonText);
  overflow-y: auto;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.companyLinkBtnContainer {
  display: flex;
  justify-content: center;
  @include useSpacing(margin, xs, 0, 0, 0);
}

.companyLinkBtn {
  text-decoration: none;
  color: #495057;
  cursor: pointer;
  display: flex;
  justify-content: center;
  @include useTypography(title-s);
}

.companyLinkIcon {
  display: flex;
  align-items: center;
}

.companyLinkText {
  @include useSpacing(margin, 0, 0, 0, s);
  display: flex;
  align-items: center;
}

.penIconContainer {
  position: absolute;
  bottom: 13%;
  right: 5%;
  z-index: 1;
  cursor: pointer;
}

.socialNetworkIcon {
  color: #495057;
}

@media screen and (min-width: $main-breakpoint) {
  .container {
    @include useSpacing(padding, xl, l);
  }
  
  .contentWrapper {
    flex-direction: row;
    width: 65%;
    @include useSpacing(margin, 0);
  }

  .text, .imgContainer {  
    width: 40%;
  }
}