/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
/*
 * Return the value for spacing size for small screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for medium screen
 * Used in useSpacing mixin
 */
/*
 * Return the value for spacing size for large screen
 * Used in useSpacing mixin
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the value for font size
 * Used in useTypography mixin
 */
/*
 * Return the value for line height
 * Used in useTypography mixin
 */
/*
 * Return the value for font family
 * Used in useTypography mixin
 */
@media screen {
  .container {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .container {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .container {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}

.emptyDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateTitle {
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 600;
}
@media screen {
  .dateTitle {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .dateTitle {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .dateTitle {
    margin: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 49.9375rem) {
  .dateTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.changeLogBoxContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen {
  .changeLogBoxContainer {
    margin: 0 4rem 0 4rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .changeLogBoxContainer {
    margin: 0 4rem 0 4rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .changeLogBoxContainer {
    margin: 0 5rem 0 5rem;
  }
}
@media screen {
  .changeLogBoxContainer {
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}
@media screen and (min-width: 64.0625rem) {
  .changeLogBoxContainer {
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}
@media screen and (min-width: 105.0625rem) {
  .changeLogBoxContainer {
    margin: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
}/*# sourceMappingURL=ChangeLog.module.css.map */