@import '../../styles/useSpacing';
@import '../../styles/useTypography';

.top {
    display: flex;
    justify-content: center;
}

.changeLogBoxSectionContainer {
    @include useSpacing(padding, s);
}

.pageTitleContainer {
    @include useSpacing(margin, l, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    font-size: 1.8rem;
}

.pageSubtitle {
    text-align: center;
    font-size: 0.8rem;
    color: #868e96;
    width: 60%;
}

.emptyDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateTitle {
    @include useSpacing(margin, m);
    @include useTypography(title-l);
    font-weight: 600;
}

.changeLogBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include useSpacing(margin, m,0);
}

.changeLogBoxWithDateContainer {
    width: 45%;
}

.creationDate {
    font-size: 0.8rem;
    @include useSpacing(margin, s,0);
}