@import '../../styles/useSpacing';
@import '../../styles/useTypography';

.container {
    display: flex;
    justify-content: center;
    @include useSpacing(padding, m, 0, 0, 0);
}

.changelogPageWrapper {
    width: 95%;
    @include useSpacing(padding, m);
    height: fit-content;
}

.skeletonLoaderContainer {
    @include useSpacing(margin, l, m);
}

.topOfPage {
    height: 20%;
    display: flex;
}

.changeLogPageLogo {
    @include useSpacing(margin, 0, 0, 0, m);
}

.changeLogPageText {
    @include useSpacing(margin, 0, 0, 0, m);
}

.changeLogBoxSectionContainer {
    @include useSpacing(padding, s);
}

.emptyDataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateTitle {
    @include useSpacing(margin, m);
    @include useTypography(title-l);
    font-weight: 600;
}

.changeLogBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include useSpacing(margin, m,0);
}

.creationDate {
    font-size: 0.8rem;
    @include useSpacing(margin, s,0);
}

@media screen and (min-width: $main-breakpoint) {
    .changelogPageWrapper {
        width: 60%;
    }
}