@import '../../styles/useSpacing';
@import '../../styles/useTypography';

.container {
    border-radius: 10px;
    @include useSpacing(padding, m);
    min-height: 8rem;
    position: relative;
    width: 100%;
}

.mainContentContainer {
    cursor: pointer;
}

.titleAndDescriptionContainer {
    @include useSpacing(padding, m);
}

.title {
    font-weight: 600;
    @include useSpacing(margin, m, 0);
}

.description {
    @include useTypography(title-s);
    word-break: break-all;
}

@media screen and (min-width: $main-breakpoint) {
    .container {
        width: 75%;
    }
}