/* Base */

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: beige;
}

ul {
  padding: 0px;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}
  
/* ------------ Layout ------------ */
  
/* ------------ Modules ------------ */

.mainNavbar--container, .mainNavbar--linksContainer {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.mainNavbar--linksContainer li {
  margin-right: 5px;
  margin-left: 5px;
}

.logo_container img {
  width: 50px;
  height: 50px;
}

/* Main page  */

.menuChoiceNavBar {
  background: #f8efbc;
  height: 70px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.menuChoiceNavbar--liWrapper {
  display: flex;
  flex-direction: column;
}

  .menuChoiceNavbar--liWrapper .menuChoiceli {
    position: relative;
  }

.menuChoiceNavbar--searchInput {
  border: none;
  background: #1fe0;
}

.menuChoiceNavbar--searchInput:focus {
  outline: none;
}

  .menuChoiceNavBar .icon {
    margin: 10px 30px;
  }

.menuChoiceModal {
  border-radius: 10px;
  padding: 20px;
  background: white;
  position: absolute;
  top: 35px;
  left: 30px;
}

  .menuChoiceModal--icon {
    margin: 0px 15px 0px 0px;
  }

.menuChoiceModal .roadmapli {
  margin: 10px 0px 0px 0px;
}

.UserOrCompanyRequestsToggleButton--container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.UserOrCompanyRequestsToggleButton--container .contextualText {
  display: flex;
  align-items: center;
}

.userCompanyRequestToggleButton {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  margin: 0px 15px;
}

.userCompanyRequestToggleButton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.userCompanyRequestToggleButton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.userCompanyRequestToggleButton .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* New feature request modal */

.newFeatureRequestModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.newFeatureRequestModal--wrapper {
  background: white;
  border-radius: 15px;
  border: solid black 0.1px;
  padding: 10px;
  height: 500px;
  width: 275px;
}

.closeModalIconContainer {
  display: flex;
  justify-content: flex-end;
}

.newFeatureRequestModal--form .inputContainer {
  display: flex;
  justify-content: center;
}

.newFeatureRequestModal--form label {
  margin: 0px 0px 0px 10px;
}

.newFeatureRequestModal--form input,
.newFeatureRequestModal--form textarea {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 15px;
  width: 90%;
  padding: 9px;
}

.newFeatureRequestModal--form--btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newFeatureRequestModal--form--btnContainer input {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* featureRequestBox */

.featureRequestBox {
  background: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
}

.featureRequestBox .badge {
  color: gold;
}

.featureRequestBox--votesCountBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.featureRequestBox--votesCountBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 0.5px;
  border-radius: 15px;
  margin: 10px;
  height: 50px;
  width: 70px;
}

.featureRequestBox--votesCountBox .icon {
  margin: 15px 10px;
}

input:checked + .slider::before {
  transform: translateX(65px);
}

input:checked + .slider::before {
  transform: translateX(65px);
}

input:checked + .slider {
  background: blue;
}
  
/* ------------ State ------------ */