/* Base */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;
}

ul {
  padding: 0px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

a {
    text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.closeModalIcon {
  cursor: pointer;
}
  
/* ------------ Layout ------------ */
  
/* ------------ Modules ------------ */

/* Menu choice nav bar */

.menuChoiceNavBar {
  display: flex;
}

  .menuChoiceNavBar--item {
    border: solid black 0.4px;
    margin: 0px 10px 0px 10px;
    background: #748FFC;
    color: white;
    padding: 4px;
  }

/* signUp Form */

.logForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logForm {
  padding: 10px;
  border-radius: 15px;
  border: solid black 0.2px;
  width: 60%;
  margin: 0px 0px 0px 0px;
  background: rgba(157, 223, 16, 0.33);
  box-shadow: 0 1px 1px -1px #B1E814, 0 0pc 8pc #6A8E02;
}

.logForm--input-container input {
  padding: 5px;
  border-radius: 9px;
  display: flex;
  text-align: center;
  font-size: 17px;
}

.logForm--btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 10px;
}

.logForm--btn {
  padding: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.71);
  color: white;
  cursor: pointer;
}

.mainNavbar--container, .mainNavbar--linksContainer {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.mainNavbar--linksContainer li {
  margin-right: 5px;
  margin-left: 5px;
}

.logo_container img {
  width: 50px;
  height: 50px;
}

/* Main page  */

.site_catch_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site_catch_title_wrapper {
  background: #fffbf4;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.site_catch_title_wrapper--text {
  font-size: 16px;
}

.site_catch_title_wrapper--icon {
  font-size: 17px;
  margin: 0px 0px 0px 12px;
}

.UserOrCompanyRequestsToggleButton--container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.UserOrCompanyRequestsToggleButton--container .contextualText {
  display: flex;
  align-items: center;
}

.userCompanyRequestToggleButton {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  margin: 0px 15px;
}

.userCompanyRequestToggleButton input {
  opacity: 0;
  width: 0;
  height: 0;
}

.userCompanyRequestToggleButton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.userCompanyRequestToggleButton .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* New feature request modal */

.newFeatureRequestModalOpenButton--container {
  display: flex;
  justify-content: center;
}

.newFeatureRequestModalOpenButton {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(214, 218, 32, 0.40);
  display: flex;
  box-shadow: 0 1px 1px -1px #B1E814, 0 0pc 8pc black;
  cursor: pointer;
}

.newFeatureRequestModalOpenButton--icon {
  font-size: 20px;
  margin: 0px 20px 0px 0px;
}

.newFeatureRequestModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.newFeatureRequestModal--wrapper {
  background: rgba(255, 244, 149, 0.57);
  border-radius: 15px;
  border: solid black 0.1px;
  padding: 10px;
  height: 500px;
  width: 275px;
  box-shadow: 0 1px 1px -1px #B1E814, 0 0pc 8pc #6A8E02;
}

.closeModalIconContainer {
  display: flex;
  justify-content: flex-end;
}

.newFeatureRequestModal--form .inputContainer {
  display: flex;
  justify-content: center;
  margin: 17px 0px 0px 0px;
}

.newFeatureRequestModal--form label {
  margin: 0px 0px 0px 10px;
}

.newFeatureRequestModal--statusInput {
  width: 90%;
  border-radius: 15px;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

.newFeatureRequestModal--form input,
.newFeatureRequestModal--form textarea {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 15px;
  width: 90%;
  padding: 9px;
}

.newFeatureRequestModal--form--btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newFeatureRequestModal--form--btnContainer input {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px -1px #B1E814, 0 0pc 8pc black;
  cursor: pointer;
}

/* featureRequestBox */

.featureRequestBox {
  background: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  margin: 0px 0px 15px 0px;
  position: relative;
}

.featureRequestBox--content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.featureRequestBox .badge {
  color: gold;
  position: absolute;
  left: -1px;
  top: -15px;
  background: rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 10px;
}

.featureRequestBox--content {
  width: 60%;
}

.featureRequestBox--votesCountBoxContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}

.featureRequestBox--votesCountBox-voted {
    background: rgba(16, 233, 155, 0.35);
}

.featureRequestBox--votesCountBox-notVoted {
  background: rgba(50, 108, 150, 0.35)
}

.featureRequestBox--votesCountBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 0.5px;
  border-radius: 15px;
  margin: 10px;
  height: 50px;
  width: 70px;
}

.featureRequestBox--votesCountBox .icon {
  margin: 15px 10px;
}

input:checked + .slider::before {
  transform: translateX(65px);
}

input:checked + .slider::before {
  transform: translateX(65px);
}

input:checked + .slider {
  background: blue;
}

/* Roadmap */

.roadmap--container {
  display: flex;
  flex-direction: column;
}

.roadmap-column {
  margin: 0px 10px 10px 10px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(212, 120, 255, 0.53);
}

.roadmap--planned-column {
  background: rgba(212, 120, 255, 0.53);
}

.roadmap--in-progress-column {
  background: rgba(18, 64, 154, 0.53);
}

.roadmap--done-column {
  background: rgba(154, 18, 67, 0.53);
}

.roadmap-column--title-container {
  padding: 0px 8px 8px 8px;
  border-radius: 10px;
  border: solid black 0.1px;
  margin: 0px 0px 10px 0px;
}

.roadmap--planned-column--title-container {
  background: rgba(212, 120, 255, 0.53);
}

.roadmap--done-column--title-container {
  background: rgba(18, 64, 154, 0.53);
}

.roadmap--done-column--title-container {
  background: rgba(154, 18, 67, 0.53);
}



.roadmap-column--title {
  text-align: center;
}
  
/* ------------ State ------------ */

/* Media queries computer */

@media (min-device-width: 1024px) {

  /* ------------ Modules ------------ */

  /* Log forms */

  .logForm {
    width: 600px;
    height: 300px;
    padding: 48px 0 0 0;
  }

  .logForm--input-container input {
    width: 60%;
    height: 45px;
  }

  .logForm--input-container {
    display: flex;
    justify-content: center;
  }

    /* site catch title */

    .site_catch_title_wrapper--icon {
      font-size: 25px;
    }

    .site_catch_title_wrapper--bulbIcon {
      color: gold;
    }

    .site_catch_title_wrapper--earIcon {
      color: black;
    }

    /* Feature request box */
  .featureRequestBox {
    margin: 22px 450px 22px 450px;
  }

  .featureRequestBox .badge {
    font-size: 21px;
  }
  
  .featureRequestBox--content {
    width: 80%;
    padding: 0px 0px 0px 20px;
  }
  
  .featureRequestBox--votesCountBoxContainer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 20%;
  }

  /* New feature request modal */

  .newFeatureRequestModal--wrapper {

    width: 500px;
  }

  /* roadmap */

  .roadmap--container {
    display: flex;
    flex-direction: row;
  }

  .roadmap-column {
    width: 55%;
  }

  .site_catch_title_wrapper {
    width: 40%;
  }

  .roadmap-column--title-container {
    margin: 5px 15px 15px 15px;
  }

  .featureRequestBox-roadmap {
    margin: 24px 15px 15px 15px;
  }

  .featureRequestBox-roadmap .featureRequestBox--content  {
    padding: 0px 0px 0px 80px;
  }
  
}